/* Style the navigation bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #fffafa;
  align-content: center;
  z-index: 1000;
}

/* Container to center content */
.nav-container {
  max-width: 1200px; /* Adjust this based on your homepage container */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
}

/* Logo styles */
.logo img {
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2em; /* Space between list items */
  padding: 0;
  margin: 0;
}

.nav-item a {
  text-decoration: none;
  color: rgb(17 24 39);
  font-weight: normal;
  font-size: 16px;
}

/* Wishlist Container */
.wishlist-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Wishlist Link */
.wishlist-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Wishlist Icon */
.wishlist-icon {
  width: 24px;
  height: 24px;
  /* color: #9ca3af; */
  color: rgb(17 24 39);
  transition: color 0.3s ease;
}

/* Hover State for Wishlist Icon */
.wishlist-link:hover .wishlist-icon {
  color: #6b7280;
}

/* Wishlist Count */
.wishlist-count {
  margin-left: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  /* color: #9ca3af; */
  color: rgb(17 24 39);
  transition: color 0.3s ease;
}

/* Hover State for Wishlist Count */
.wishlist-link:hover .wishlist-count {
  color: #1f2937;
}
